extends ./layout.pug

block title
	title Create Playlist - MixerFox

block content
	script(src='./js/create_playlist.js')
	.container.main-content
		.row
			.col-sm-12.main-content-box
				h2.
					Create a Playlist
				hr
				img.img-responsive.playlist-img(src='./images/200x200.png')
				form
					.row
						.form-group.col-sm-4.col-sm-offset-2
							label.
								Playlist Name:
							input.form-control(type='text', name='playlist-name', placeholder='Playlist Name', required='', autofocus='')
						.form-group.col-sm-4
							label. 
								Playlist Art:
							input(type='file', name='playlist-art')
				hr
				h2.
					Songs:
				form#playlist-form(action='/create', method='POST')
					.row
						.form-group.col-sm-8.col-sm-offset-2
							input#autocomplete.form-control.pull-right(name='queryTerms', placeholder='Search for songs...', required='')
					ul#songs-selected(style='text-align: center;')
					hr
					.row
						.form-group.col-sm-2.col-sm-offset-10
							button.btn-primary.btn-lg.btn-block(type='submit').
								Create Playlist
			
