extends ./layout.pug

block title
	title Home - MixerFox

block content
	header
		.header-content
			.header-content-inner
				img.mixerfox-logo.img-responsive(width='250', src='images/mixerfox_logo.png')
				h1.
					Mixer#[.highlight-text Fox] has the music you need.
				form(action='/search')
					input.main-searchbar(type='text', name='queryTerms' placeholder='Search by artist, playlist, or song name')

	.bg-primary
		.container
			.upload-info-content
				h1.
					And if we don't, you can upload it yourself.
