body, html {
	height: 100%;
	width: 100%;
	text-align: center;
	font: "Helvetica Neue", "Open Sans", sans-serif;
}

.navbar-default {
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.navbar-brand {
	font: 18pt "Helvetica Neue", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.highlight-text {
	display: inline;
	color: #dc4b1e;
}

header {
	position: relative;
	width: 100%;
	min-height: auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-image: url("../images/mixtape.jpg");
	background-color: #DFDFDF;
	color: white;
}

.header-content {
	position: relative;
	text-align: center;
	padding: 150px 15px 100px;
	width: 100%;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.header-content h1 {
	margin-top: 50px;
}

.mixerfox-logo {
	margin: auto;
	margin-top: 150px;
}

.main-searchbar {
	width: 50%;
	height: 32px;
	margin: auto;
	margin-top: 50px;
	border: none;
	border-radius: 50px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	text-align: center;
	color: black;
}

.main-searchbar:focus {
	outline: none;
}

.bg-primary {
	min-height: 450px;
	background-color: #dc4b1e;
	color: white;
}

.upload-info-content {
	margin-top: 150px;
}

@media (min-width: 768px) {

	header {
		min-height: 100%;
	}

}