body, html {
	height: 100%;
	width: 100%;
	font: "Open Sans", Arial, sans-serif;
	background-color: #f8f8f8;
}

.navbar-default {
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.navbar-brand {
	font: 18pt "Open Sans", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	padding: 8px 8px 8px 8px;
}

.highlight-text {
	display: inline;
	color: #dc4b1e;
}

header {
	position: relative;
	width: 100%;
	min-height: auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-image: url("../images/mixtape.jpg");
	background-color: #DFDFDF;
	color: white;
}

.header-content {
	position: relative;
	text-align: center;
	padding: 150px 15px 100px;
	width: 100%;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.header-content h1 {
	margin-top: 50px;
}

.mixerfox-logo {
	margin: auto;
	margin-top: 150px;
}

.main-searchbar {
	width: 50%;
	height: 32px;
	margin: auto;
	margin-top: 50px;
	border: none;
	border-radius: 50px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	text-align: center;
	color: black;
}

.main-searchbar:focus {
	outline: none;
}

.bg-primary {
	min-height: 450px;
	background-color: #dc4b1e;
	color: white;
}

.upload-info-content {
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	margin-top: 250px;
	text-align: center;
	color: #ddd;
}

.upload-info-content a {
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	color: white;
}

.main-content {
	position: relative;
	padding: 150px 15px 100px;
	margin: auto;
}

.main-content-box {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.login-form {
	margin-bottom: 30px;
}

.btn-primary {
	background-color: #dc4b1e;
	border-radius: 5px;
	border: none;
}

.btn-primary:focus {
	background-color: #ec5b2e;
}

.btn-primary:hover {
	background-color: #ec5b2e;
}

.btn-primary:active:hover {
	background-color: #fe6d40;
}

.icon-primary {
	color: #dc4b1e;
}

.icon-primary:focus {
	color: #ec5b2e;
}

.icon-primary:hover {
	color: #ec5b2e;
}

.icon-primary:active:hover {
	color: #fe6d40;
}

.playlist-img {
	margin: auto;
	margin-bottom: 20px;
}

@media (min-width: 768px) {

	header {
		min-height: 100%;
	}

}